# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/functionalsystemtest/selenium/node_modules



# testing
/frontend/coverage
/functionalsystemtest/selenium/coverage
# production
/frontend/build
/functionalsystemtest/selenium/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/functionalsystemtest/selenium/package-lock.json
frontend/package-lock.json
.project